html:not(.dark),.light{--bg:#ffffff;--bg-1:#fafafa;--bg-2:#f7f7f7;--bg-3:#f2f2f2;--bg-4:#ededed;--bg-5:#e8e8e8;--bg-6:#e3e3e3;--bg-7:#dedede;--t:#000000;--t-1:#212121;--t-2:#2d2d2d;--t-3:#333333;--t-4:#444444;--t-5:#505050;--t-6:#656565;--t-7:#757575;--c:#3ddc84;--c-1:#258650;--c-2:#19693d;--c-3:#d4efe0;--c-4:#b9e4cc}
html.dark,.dark{--bg:#000000;--bg-1:#0b0b0b;--bg-2:#111111;--bg-3:#151515;--bg-4:#1b1b1b;--bg-5:#1f1f1f;--bg-6:#252525;--bg-7:#292929;--t:#ffffff;--t-1:#eaeaea;--t-2:#e0e0e0;--t-3:#d6d6d6;--t-4:#cacaca;--t-5:#bfbfbf;--t-6:#b5b5b5;--t-7:#a5a5a5;--c:#3ddc84;--c-1:#91ccab;--c-2:#75c598;--c-3:#0b1911;--c-4:#0f2117}
*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box}
a,abbr,address,article,aside,audio,b,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,hr,i,iframe,img,ins,input,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,ul,var,video{-webkit-tap-highlight-color:transparent;border:0;font-family:-apple-system,BlinkMacSystemFont,'Roboto',sans-serif;margin:0;padding:0}
html,body{-ms-text-size-adjust:100%;-moz-osx-font-smoothing:grayscale;-moz-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;box-sizing:border-box;display:block;font-family:-apple-system,BlinkMacSystemFont,'Roboto',sans-serif;font-size:16px;font-weight:400;margin:0;padding:0;text-size-adjust:100%}
html{background:var(--bg)}
body{padding-top:56px}
div,article,aside,details,figcaption,figure,footer,header,main,nav,section,summary,hgroup{display:block}
head,script,link,meta,title,style,[hidden],.hide{display:none}
svg:not(:root){overflow:hidden}
embed,object,video,img{max-width:100%}
img{-ms-interpolation-mode:bicubic;border:none;display:block;outline:none}
figure{display:block;margin:0 auto;position:relative;width:100%}
figure.inline{max-width:720px}
figure.medium{max-width:1024px}
figure:not([class]),figure.large{max-width:1440px}
figure.wide{max-width:1600px}
figure img{background:var(--bg-2);height:100%;object-fit:cover;position:relative;width:100%}
figure img:not(.img__loaded){max-height:99vh}
figure figcaption{color:var(--t-7);font:400 16px/1.36364 Gelasio,serif;margin:12px auto 0 auto;max-width:720px;width:100%}
figure figcaption a:not([class]){color:var(--t-5)}
figure figcaption a:not([class]):hover{color:var(--t-4)}
input[type='search']{-webkit-appearance:textfield}
input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:none;padding:0}
button{-webkit-appearance:button;-webkit-transition:outline .2s;align-items:center;background:none;cursor:pointer;display:inline-flex;justify-content:center;outline:thin dotted transparent;overflow:visible;transition:outline .2s}
button:hover{outline:thin dotted var(--bg-6)}
button:focus{outline:thin dotted var(--bg-7)}
h1,h2,h3,h4,h5,h6{color:var(--t);display:block;font-style:normal;text-overflow:ellipsis}
h2{font:400 30px/1.33333 Gelasio,serif}
h3{font:500 28px/1.33333 Gelasio,serif}
h4{font:500 26px/1.36364 Gelasio,serif}
h5{font:500 24px/1.36364 Gelasio,serif}
h6{font:500 22px/1.36364 Gelasio,serif}
p{color:var(--t-4);display:block;font-style:normal}
em,i{font-family:inherit;font-style:italic;font-weight:400}
strong,b{color:var(--t);font-family:inherit;font-style:normal;font-weight:500}
span{color:inherit;font-family:inherit;font-style:normal}
a{font-family:inherit;text-decoration:none}
a:not([class]){-webkit-transition:color .2s;color:var(--c-1);font-family:inherit;text-decoration:underline;transition:color .2s}
a:not([class]):hover{color:var(--c-2)}
a.link{color:var(--t)}
a>strong,a>strong>em{color:inherit}
mark{-webkit-transition:background .2s,color .2s;background:var(--c-3);color:var(--t-4);font-family:inherit;transition:background .2s,color .2s}
mark:hover{background:var(--c-4);color:var(--t)}
small{color:var(--t-7);font-family:inherit;font-size:16px;font-weight:400}
blockquote{align-content:baseline;display:grid;grid-row-gap:16px;position:relative}
blockquote:not(.quote)::before{background:var(--t-2);bottom:0;content:'';display:block;pointer-events:none;position:absolute;top:0;width:3px}
blockquote.quote{overflow:hidden;padding-left:48px}
blockquote.quote::before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;color:var(--t-5);content:'format_quote';display:block;font:normal normal normal 36px/1 'Material Icons';font-feature-settings:'liga';left:0;pointer-events:none;position:absolute;text-rendering:optimizeLegibility;text-transform:none;top:0;word-wrap:normal}
blockquote>p:not([class]){font-style:italic;font-weight:400}
blockquote>p.quotes{color:var(--t-7)}
menu{list-style:none;list-style-image:none}
ul:not([class]),ol:not([class]){color:var(--t-2);display:block;font-family:Gelasio,serif;font-weight:400;padding-left:20px;text-align:left}
ul:not([class]){list-style-type:disc}
ol:not([class]){list-style-type:decimal}
li:not([class]){display:list-item}
li:not([class]):not(:first-of-type){margin-top:16px}
hr{align-items:center;background:0;border:none;content:'';display:inline-flex;justify-content:center;overflow:visible;padding:0;pointer-events:none;position:relative;text-align:center;width:100%}
hr::before{color:var(--t-5);content:'\2022 \2022 \2022';font:400 18px/1.4 Roboto,sans-serif;letter-spacing:20px;text-indent:20px}
@media (min-width: 1025px){
blockquote>p.quotes{font:400 32px/1.33333 Gelasio,serif}
}
@media (max-width: 1024px) and (min-width: 841px){
blockquote>p.quotes{font:400 28px/1.33333 Gelasio,serif}
}
@media (max-width: 840px){
blockquote>p.quotes{font:400 24px/1.33333 Gelasio,serif}
}
@media (min-width: 721px){
figure:not(.inline) figcaption{padding:0 24px}
}
@media (max-width: 720px) and (min-width: 551px){
figure figcaption{padding:0 24px}
}
@media (min-width: 551px){
h1{font:400 33px/1.15789 Gelasio,serif}
p:not([class]){font:400 21px/1.58 Gelasio,serif}
blockquote:not(.quote)::before{left:-24px}
}
@media (max-width: 550px){
h1{font:400 32px/1.15789 Gelasio,serif}
p:not([class]){font:400 18px/1.58 Gelasio,serif}
blockquote:not(.quote)::before{left:-16px}
figure figcaption{padding:0 16px}
}
@media (min-width: 375px){
body{overflow-y:auto;overflow-x:hidden}
}
@media (max-width: 374px){
body{overflow:auto}
}
/* Button */
.btn__action{height:36px;width:36px}
.btn__action>svg{-webkit-transition:fill .2s;display:inline-flex;fill:var(--t-5);height:24px;width:24px;transition:fill .2s}
.btn__action:hover>svg{fill:var(--t-4)}
.btn__action:focus>svg{fill:var(--t-3)}
/* Icon */
.icon,.icon__before::before,.icon__after::after{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;color:var(--t-5);display:block;font:normal normal normal 24px/1 'Material Icons';font-feature-settings:'liga';text-rendering:optimizeLegibility;text-transform:none;word-wrap:normal}
.icon__before::before,.icon__after::after{z-index:2}
.icon__small,.icon__before.icon__small::before,.icon__after.icon__small::after{font-size:16px}
.icon__before::before{content:attr(data-icon)}
.icon__after::after{content:attr(data-icon)}
/* Launch */
html:not(.js)>body,html.js-loading>body,html.js-loading.js>body{overflow:hidden}
.launch{align-content:center;background:var(--bg);bottom:0;display:grid;justify-content:center;left:0;position:fixed;right:0;top:0;z-index:27}
.launch>svg{display:inline-grid;fill:var(--t);fill-rule:evenodd;height:36px;width:36px}
html.js .launch{display:none}
/* Error */
body[error]{overflow:hidden}
.error{align-content:center;display:grid;margin:0 auto;max-width:672px;padding:124px 16px;width:100%}
.error__title{color:var(--t-3);font:400 16px/1.5 Gelasio,serif;text-transform:uppercase}
.error__code{color:var(--t-2);font:500 180px/200px Gelasio,serif}
.error__subtitle{color:var(--t-4);font:400 20px/1.5 Gelasio,serif}
/* Header */
.header{--h:56px;-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-webkit-transition:-webkit-box-shadow .3s cubic-bezier(.4,0,.6,1),-webkit-transform .3s cubic-bezier(.4,0,.6,1);align-content:center;backface-visibility:hidden;background:var(--bg);display:grid;height:var(--h);left:0;position:fixed;right:0;top:0;transform:translate3d(0,0,0);transition:box-shadow .3s cubic-bezier(.4,0,.6,1),transform .3s cubic-bezier(.4,0,.6,1);z-index:17}
html.js>body[header] .header{-webkit-transform:translate3d(0,-100%,0);-webkit-transition:-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1) .3s,-webkit-transform .3s cubic-bezier(.4,0,.2,1) .3s;transform:translate3d(0,-100%,0);transition:box-shadow .3s cubic-bezier(.4,0,.2,1) .3s,transform .3s cubic-bezier(.4,0,.2,1) .3s;will-change:background,box-shadow,transform,width}
html.js:not(.dark)>body[scroll] .header{-webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15)}
html:not(.dark)>body[scroll][header] .header,html:not(.dark) .header{-webkit-box-shadow:0 2px 4px -2px rgba(175,175,175,0.5);box-shadow:0 2px 4px -2px rgba(175,175,175,0.5)}
html.dark .header{-webkit-box-shadow:0 1px 0 var(--bg-5);box-shadow:0 1px 0 var(--bg-5)}
html.dark>body[scroll] .header,html.dark>body[scroll][header] .header{-webkit-box-shadow:0 1px 0 var(--bg-5),0 2px 10px 2px rgb(0,0,0);box-shadow:0 1px 0 var(--bg-5),0 2px 10px 2px rgb(0,0,0)}
html:not(.js) .header,html.js-loading .header,html.js-loading.js .header{display:none;opacity:0;pointer-events:none;visibility:hidden}
.header__column{align-content:center;display:grid;grid-template-areas:'s c e';grid-template-columns:auto 1fr auto;margin:0 auto;max-width:1440px;width:100%}
.header__column_start{align-items:center;display:flex;grid-area:s;flex-wrap:nowrap;height:var(--h);white-space:nowrap}
.header__column_center{align-items:center;display:flex;grid-area:c;flex-wrap:nowrap;height:var(--h);justify-content:flex-start;position:relative;white-space:nowrap;z-index:2}
.header__column_end{align-items:center;display:flex;grid-area:e;flex-wrap:nowrap;height:var(--h);white-space:nowrap}
.header__column_end .btn__action:not(:first-of-type){margin-left:8px}
.header__brand{align-items:center;cursor:pointer;display:flex;height:var(--h);text-decoration:none}
.header__brand_logo{align-items:center;display:inline-flex;pointer-events:none}
.header__brand_logo>svg{display:inline-flex;fill:var(--t);fill-rule:evenodd;height:36px;width:36px}
.header__brand_title{color:var(--t);display:inline-flex;font:500 24px/normal Gelasio,serif;pointer-events:none}
.header__nav{align-content:center;display:grid;height:var(--h)}
.header__nav_list{align-items:center;display:flex;flex-wrap:nowrap;list-style-type:none;max-width:100%;overflow-x:auto;overflow-y:hidden;white-space:nowrap}
.header__nav_item{align-items:center;display:inline-flex;list-style-type:none}
.header__nav_item:not(:first-of-type){margin-left:16px}
.header__nav_link{-webkit-transition:color .2s;align-items:center;color:var(--t-5);display:inline-flex;font:400 16px/normal Gelasio,serif;height:var(--h);position:relative;text-decoration:none;transition:color .2s}
.header__nav_link:hover{color:var(--t-4)}
.header__nav_link:focus{color:var(--t-3)}
body:not([data-layout]) .header__brand,
body:not([data-layout]) .header__brand_title,
body:not([data-layout]) .header__nav{display:none}
.header__search{-webkit-backface-visibility:hidden;-webkit-transition:all .15s cubic-bezier(0.4,0,0.2,1);align-items:center;backface-visibility:hidden;background:var(--bg-1);border-radius:0;cursor:text;display:flex;height:36px;opacity:0;pointer-events:none;position:absolute;right:0;transition:all .15s cubic-bezier(0.4,0,0.2,1);width:36px;z-index:2}
body[search] .header__search{-webkit-transition:all .35s cubic-bezier(0.4,0,0.2,1);background:var(--bg);border-radius:4px;opacity:1;pointer-events:visible;transition:all .35s cubic-bezier(0.4,0,0.2,1);will-change:background,border-radius,width}
body:not([search]) .header__search:hover{background:var(--bg-2)}
html:not(.dark)>body[search]  .header__search{-webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15)}
html.darkbody[search]  .header__search{box-shadow:0 0 0 1px rgba(60,64,67,.3),0 1px 12px 2px rgba(60,64,67,.15)}
.header__search_icon{align-content:center;cursor:text;display:grid;justify-content:center;padding:6px 8px}
.header__search_icon>span{display:none}
.header__search_input{background:0;border:0;color:var(--t-2);display:block;font:400 16px/1.5 Roboto,sans-serif;height:100%;outline:0;padding:6px 16px 6px 0;width:100%}
.header__search_input::-webkit-input-placeholder{color:var(--t-5);font:400 16px/1.5 Roboto,sans-serif}
.tap__search{position:relative;z-index:3}
.tap__search{-webkit-transform:scale(1);-webkit-transition:-webkit-transform .2s cubic-bezier(.4,0,.6,1);transform:scale(1);transition:transform .2s cubic-bezier(.4,0,.6,1)}
body[search] .tap__search{-webkit-transform:scale(0.7);-webkit-transition:-webkit-transform .2s cubic-bezier(.4,0,.2,1) .2s;opacity:0;pointer-events:none;transform:scale(0.7);transition:transform .2s cubic-bezier(.4,0,.2,1) .2s}
body[search] .tap__subscribe,body[search] .header__nav{pointer-events:none}
body[data-layout='comments'] .header__nav{display:none}
@media (min-width: 1025px){
.header__column{grid-column-gap:32px;padding:0 14px 0 24px}
.header__search{right:-68px}
body[search] .header__search{width:384px}
}
@media (max-width: 1024px){
.header__nav{display:none}
}
@media (max-width: 1024px) and (min-width: 841px){
.header__column{grid-column-gap:24px;padding:0 12px 0 24px}
.header__search{right:-52px}
body[search] .header__search{width:380px}
}
@media (max-width: 840px) and (min-width: 551px){
.header__column{grid-column-gap:16px;padding:0 6px 0 16px}
.header__search{right:-52px}
body[search] .header__search{width:calc(100% + 52px)}
}
@media (min-width: 551px){
body[data-layout='index'] .header__brand_logo,body[data-layout='comments'] .header__brand_logo{display:none}
body[data-layout='article'] .header__brand_title,body[data-layout='article'] .header__nav{display:none}
}
@media (max-width: 550px){
.header__column{grid-column-gap:8px;padding:0 6px 0 16px}
.header__brand_title{display:none}
.header__search{right:-44px}
body[search] .header__search{width:calc(100% + 36px)}
}
/* Main */
.main {
    align-content: baseline;
    display: grid;
    font-family:-apple-system,BlinkMacSystemFont,'Gelasio','Times New Roman',Times,serif;
    min-height: 100vh;
    writing-mode: horizontal-tb;
}
html:not(.js) .main,html.js-loading .main,html.js-loading.js .main{display:none;opacity:0;pointer-events:none;visibility:hidden}
/* Footer */
.footer{
    align-content: baseline;
    display: grid;
}
html:not(.js) .footer,html.js-loading .footer,html.js-loading.js .footer{display:none;opacity:0;pointer-events:none;visibility:hidden}
/* Subscribe */
.subscribe{-webkit-transition:opacity .2s cubic-bezier(.4,0,.6,1);align-content:baseline;background:var(--bg);border-radius:8px;display:grid;opacity:0;outline:none;pointer-events:none;position:fixed;top:48px;transition:opacity .2s cubic-bezier(.4,0,.6,1);z-index:30}
body[subscribe] .subscribe{opacity:1;pointer-events:visible}
html:not(.dark) .subscribe{-webkit-box-shadow:0 2px 4px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);box-shadow:0 2px 4px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35)}
html.dark .subscribe{-webkit-box-shadow:0 2px 6px 2px rgba(0, 0, 0, 0.4), 0 0 1px 0px rgba(0, 0, 0, 0.5);box-shadow:0 2px 6px 2px rgba(0, 0, 0, 0.4), 0 0 1px 0px rgba(0, 0, 0, 0.5)}
.subscribe__row{align-content:baseline;display:grid;grid-row-gap:16px;padding:24px 16px;position:relative}
.subscribe__row::before{-webkit-box-shadow:rgba(0,0,0,0.54) -1px -1px 1px -1px;background:var(--bg);box-shadow:rgba(0,0,0,0.54) -1px -1px 1px -1px;content:'';display:block;height:14px;pointer-events:none;position:absolute;right:19px;transform:rotate(45deg) translate(6px,6px);top:-14px;width:14px;z-index:1}
.subscribe__row_start,.subscribe__row_center,.subscribe__row_end{align-content:baseline;display:grid}
.subscribe__title{color:var(--t-1);font:500 20px/1.36364 Gelasio,serif}
.subscribe__subtitle{color:var(--t-5);font:400 14px/1.4 Gelasio,serif}
.subscribe__form{border:none;display:block;outline:none}
.subscribe__form_input{-webkit-transition:background .2s,border .2s;background:var(--bg-1);border:1px solid var(--bg-5);border-radius:4px;color:var(--t-2);cursor:text;display:block;font:400 14px/1.4 Roboto,sans-serif;max-width:400px;outline:none;padding:10px;transition:background .2s,border .2s;width:100%}
.subscribe__form_input:hover{background:var(--bg-2)}
.subscribe__form_input:focus{background:var(--bg);border-color:var(--c)}
.subscribe__form_input::-webkit-input-placeholder{color:var(--t-5);font:400 14px/1.4 Roboto,sans-serif}
.subscribe__form_submit{-webkit-transition:background .2s,opacity .2s;align-items:center;background:var(--t-2);border-radius:4px;cursor:pointer;color:var(--bg-2);display:inline-flex;font:500 14px/1.4 Gelasio,serif;margin-top:10px;outline:none;padding:8px 10px;text-align:center;text-transform:uppercase;transition:background .2s,opacity .2s}
.subscribe__form_submit:hover{background:var(--t-3)}
.subscribe__form_submit:focus{background:var(--t-4)}
.subscribe__form_submit[disabled]{pointer-events:none}
html:not(.dark) .subscribe__form_submit[disabled]{opacity:0.5}
html.dark .subscribe__form_submit[disabled]{opacity:0.3}
.subscribe__licence{color:var(--t-6);font:400 12px/1.2 Gelasio,serif}
@media (min-width: 1025px){
.subscribe{right:6px}
}
@media (max-width: 1024px) and (min-width: 841px){
.subscribe{right:4px}
}
@media (max-width: 840px) and (min-width: 551px){
.subscribe{right:4px}
.subscribe__row::before{right:13px}
}
@media (max-width: 550px){
.subscribe{left:4px;right:4px}
.subscribe__row::before{right:13px}
}
@media (max-width: 300px){
.subscribe,.tap__subscribe{display:none}
}
/* Article */
.article,.article__header,.article__body,.article__section,.article__footer{align-content:baseline;display:grid}
.article__header,.article__section,.article__footer{margin:0 auto;max-width:768px;width:100%}
.article,.article__section,.article__footer{grid-row-gap:24px}
.article__body{grid-row-gap:32px}
.article__title{color:var(--t-1)}
.article__subtitle{color:var(--t-7);margin-top:6px}
.article__meta{align-content:baseline;display:grid;margin-top:16px}
.article__posted{align-content:center;display:grid;grid-area:po;grid-column-gap:12px;grid-template-areas:'fa ia';grid-template-columns:auto 1fr}
.article__posted_image{background:var(--bg-2);border-radius:50%;display:block;grid-area:fa;height:48px;position:relative;width:48px}
.article__posted_image amp-img,.article__posted_image img{border-radius:50%;object-fit:cover;pointer-events:none}
.article__posted_info{align-items:flex-start;display:flex;flex-wrap:wrap;flex-direction:column;justify-content:center;grid-area:ia;white-space:normal}
.article__posted_author{-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--t-2);display:-webkit-box;font:400 16px/1.58 Gelasio,serif;max-height:27px;overflow:hidden;text-overflow:ellipsis;white-space:normal}
.article__posted_author:hover{text-decoration:underline}
.article__posted_date{-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--t-7);display:-webkit-box;font:400 14px/1.4 Roboto,sans-serif;max-height:21px;overflow:hidden;text-overflow:ellipsis;white-space:normal}
.article__share{align-items:center;display:flex;grid-area:so;flex-wrap:nowrap;white-space:nowrap}
.article__share_sosmed{-webkit-appearance:button;-webkit-transition:outline .2s;align-items:center;background:none;cursor:pointer;display:inline-flex;height:24px;justify-content:center;outline:thin dotted transparent;transition:outline .2s;width:24px}
.article__share_sosmed:hover{outline:thin dotted var(--bg-6)}
.article__share_sosmed:focus{outline:thin dotted var(--bg-7)}
.article__share_sosmed:not(:first-of-type){margin-left:18px}
.article__share_sosmed>svg{-webkit-transition:fill .2s;display:inline-flex;fill:var(--t-5);height:24px;width:24px;transition:fill .2s}
.article__share_sosmed:hover>svg{fill:var(--t-4)}
.article__share_sosmed:focus>svg{fill:var(--t-3)}
.article__section a:not([class]){color:var(--t-2)}
.article__section a:not([class]):hover{color:var(--t)}
.article__label{align-content:baseline;border-bottom:1px solid var(--bg-5);display:grid;padding-bottom:24px}
.article__label_list{align-items:flex-start;display:flex;flex-wrap:wrap;justify-content:flex-start;list-style-type:none;margin-top:-8px;white-space:normal}
.article__label_item{align-items:center;display:inline-flex;margin-right:8px;margin-top:8px}
.article__label_link{-webkit-transition:background .2s,color .2s;background:var(--bg-2);border-radius:4px;color:var(--t-6);font:400 14px/1.4 Roboto,sans-serif;padding:4px 8px;transition:background .2s,color .2s}
.article__label_link:hover{background:var(--bg-3);color:var(--t-5)}
.article__label_link:focus{background:var(--bg-4);color:var(--t-4)}
.article__author{align-content:center;border-bottom:1px solid var(--bg-5);display:grid;padding-bottom:24px}
.article__author_image{background:var(--bg-2);border-radius:50%;display:block;grid-area:af;height:48px;position:relative;width:48px}
.article__author_image amp-img,.article__author_image img{border-radius:50%;object-fit:cover;pointer-events:none}
.article__author_info{align-items:flex-start;display:flex;flex-wrap:wrap;flex-direction:column;justify-content:center;grid-area:ai;white-space:normal}
.article__author_name{-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--t-2);display:-webkit-box;font:500 21px/1.58 Gelasio,serif;max-height:33px;overflow:hidden;text-overflow:ellipsis;white-space:normal}
.article__author_about{-webkit-box-orient:vertical;-webkit-line-clamp:3;color:var(--t-7);display:-webkit-box;font:400 14px/1.4 Roboto,sans-serif;max-height:57px;overflow:hidden;text-overflow:ellipsis;white-space:normal}
.article__author_follow{align-content:baseline;display:grid;grid-area:ao}
.article__author_follow_link{-webkit-transition:background .2s,opacity .2s;align-items:center;background:var(--t-2);border-radius:4px;cursor:pointer;color:var(--bg-2);display:inline-flex;font:500 14px/1.4 Gelasio,serif;justify-content:center;outline:none;padding:8px 10px;text-align:center;text-transform:uppercase;transition:background .2s,opacity .2s}
.article__author_follow_link:hover{background:var(--t-3)}
.article__author_follow_link:focus{background:var(--t-4)}
.article__discussion{align-content:baseline;display:grid}
.article__discussion_link{-webkit-transition:border .2s,color .2s;align-items:center;border:1px solid var(--t-2);border-radius:4px;cursor:pointer;color:var(--t-2);display:inline-flex;font:500 14px/1.4 Gelasio,serif;justify-content:center;margin-top:4px;outline:none;padding:16px 24px;text-align:center;text-transform:uppercase;transition:border .2s,color .2s}
.article__discussion_link:hover{border-color:var(--t-3);color:var(--t-3)}
.article__discussion_link:focus{border-color:var(--t-4);color:var(--t-4)}
@media (min-width: 841px){
.article__header{padding-top:48px}
.article__footer{padding-bottom:48px}
}
@media (max-width: 840px){
.article__header{padding-top:32px}
.article__footer{padding-bottom:32px}
}
@media (min-width: 551px){
.article__header,.article__section,.article__footer{padding-left:24px;padding-right:24px}
.article__subtitle,li:not([class]){font:400 21px/1.58 Gelasio,serif}
}
@media (max-width: 550px){
.article__header,.article__section,.article__footer{padding-left:16px;padding-right:16px}
.article__subtitle,li:not([class]){font:400 18px/1.58 Gelasio,serif}
}
@media (min-width: 375px){
.article__meta{grid-column-gap:16px;grid-template-areas:'po so';grid-template-columns:1fr auto}
.article__share{justify-content:flex-end}
.article__author{grid-column-gap:16px;grid-template-areas:'af ai ao';grid-template-columns:auto 1fr auto}
.article__author_follow{margin-left:8px}
.article__author_follow_link{margin-top:4px}
}
@media (max-width: 374px) and (min-width: 226px){
.article__share{justify-content:flex-start}
.article__author{grid-gap:8px;grid-template-areas:'af ao' 'ai ai'}
.article__author_follow{align-content:end;justify-content:end}
}
@media (min-width: 326px){
.article__meta{grid-column-gap:16px;grid-template-areas:'po so';grid-template-columns:1fr auto}
}
@media (max-width: 325px){
.article__meta{grid-row-gap:16px;grid-template-areas:'po' 'so'}
}
@media (max-width: 225px){
.article__share{justify-content:flex-start}
.article__author{grid-gap:8px;grid-template-areas:'af' 'ai'}
.article__author_follow{display:none}
}
/* Comments */
.comments{align-content:baseline;display:grid}
.comments__header{align-content:baseline;display:grid}
.comments__body{align-content:baseline;background:var(--bg-1);display:grid;min-height:100vh;padding-top:24px;position:relative}
.comments__section{align-content:baseline;display:grid}
.comments__footer{align-content:baseline;display:grid}
.comments{grid-row-gap:24px}
.comments__header,.comments__section,.comments__footer{margin:0 auto;max-width:768px;width:100%}
.comments__title{color:var(--t-5);font:500 14px/1.4 Gelasio,serif;margin-bottom:8px;text-transform:uppercase}
.comments__article_title{color:var(--t-1)}
.comments__article_subtitle{color:var(--t-7);font:400 16px/1.58 Gelasio,serif;margin-top:6px}
@-webkit-keyframes comments__spinner{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}
@keyframes comments__spinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.comments__loading{align-content:center;display:grid;justify-content:center;padding:24px 0}
.comments__spinner{display:inline-block;position:relative;width:80px;height:80px}
.comments__spinner div{-webkit-animation:comments__spinner 1.2s cubic-bezier(0.5,0,0.5,1) infinite;animation:comments__spinner 1.2s cubic-bezier(0.5,0,0.5,1) infinite;border:6px solid var(--t-7);border-color:var(--t-7) transparent transparent transparent;border-radius:50%;display:block;height:64px;margin:8px;position:absolute;width:64px}
.comments__spinner div:nth-child(1){animation-delay:-0.45s}
.comments__spinner div:nth-child(2){animation-delay:-0.3s}
.comments__spinner div:nth-child(3){animation-delay:-0.15s}
@media (min-width: 841px){
.comments__header{padding-top:48px}
.comments__footer{padding-bottom:48px}
}
@media (max-width: 840px){
.comments__header{padding-top:32px}
.comments__footer{padding-bottom:32px}
}
@media (min-width: 551px){
.comments__header,.comments__section,.comments__footer{padding-left:24px;padding-right:24px}
}
@media (max-width: 550px){
.comments__header,.comments__section,.comments__footer{padding-left:16px;padding-right:16px}
}
/* Figure */
.figure{align-content:baseline;display:grid;margin:0 auto;max-width:1440px;width:100%}
.figure.inline{max-width:768px}
.figure.medium{max-width:1024px}
.figure.wide{max-width:1600px}
@media (min-width: 841px){
.figure[class*=col-]{grid-gap:24px}
.figure:not(.wide):not(.inline){padding:0 24px}
.figure.wide[class*=col-]{padding:0 24px}
.figure.col-2{grid-template-columns:repeat(2,1fr)}
.figure.col-3{grid-template-columns:repeat(3,1fr)}
.figure.col-4{grid-template-columns:repeat(4,1fr)}
}
@media (max-width: 841px) and (min-width: 551px){
.figure[class*=col-]{grid-gap:16px}
.figure.col-2,.figure.col-3,.figure.col-4{grid-template-columns:repeat(2,1fr)}
}
@media (min-width: 551px){
.figure.inline{padding:0 24px}
}
@media (max-width: 551px){
.figure[class*=col-]{grid-row-gap:24px}
.figure.inline{padding:0 16px}
}
/* PRO */
.progressive{display:block;overflow:hidden;position:relative}
.progressive>svg{background:var(--bg-1);display:block;height:100%;max-width:100%;width:100%}
.progressive>img{bottom:0;left:0;position:absolute;right:0;top:0;z-index:1}
/* Zoom */
.img__bg{transition:opacity .2s;background:var(--bg);bottom:-100vh;left:-100vw;opacity:0;position:fixed;right:-100vw;top:-100vh;transition:opacity .2s;z-index:200}
.img__body .img__bg{cursor:zoom-out;opacity:1;pointer-events:visible}
.img__zoom{-webkit-transition:transform .3s cubic-bezier(.2,0,.2,1);cursor:zoom-in;transition:transform .3s cubic-bezier(.2,0,.2,1)}
.img__body .img__zoom{-webkit-transition:transform .3s cubic-bezier(.2,0,.2,1);transition:transform .3s cubic-bezier(.2,0,.2,1)}
.img__hidden{visibility:hidden}
.img__zoomed{cursor:zoom-out;position:relative;will-change:transform;z-index:202}
/* Backgorund */
.img{opacity:0;pointer-events:none}
.img:not(.img__loaded){image-rendering:auto;opacity:1;pointer-events:visible}
.img.img__loaded{opacity:1;pointer-events:visible}
.skip-to-content{-webkit-clip-path:polygon(0 0,0 0,0 0);clip-path:polygon(0 0,0 0,0 0);height:1px;overflow:hidden;position:fixed;top:-100vh;width:1px;z-index:1}
.ui__mask{-webkit-transition:opacity .2s cubic-bezier(.4,0,.6,1);bottom:-100vh;cursor:default;content:'';display:grid;left:0;opacity:0;pointer-events:none;position:fixed;right:0;top:0;transition:opacity .2s cubic-bezier(.4,0,.6,1);z-index:100}
html.js:not(.dark) .ui__mask{background:rgba(255,255,255,0.7)}
html.dark .ui__mask{background:rgba(33,33,33,0.7)}
.ui__mask[visible]{opacity:1;pointer-events:visible}
.ui__mask[visible][for-search]{opacity:0;z-index:7}
.ui__mask[visible][for-subscribe]{opacity:1;z-index:18}
.ui__bg{align-content:baseline;bottom:0;display:grid;left:0;margin:0 auto;max-width:1440px;pointer-events:none;position:fixed;right:0;top:0;width:100%;z-index:20}
.ui__bg>.subscribe{position:absolute}
/* Progress */
@-webkit-keyframes indeterminate{0%{-webkit-transform:translateX(0);transform:translateX(0)}20%{-webkit-animation-timing-function:cubic-bezier(0.5,0,0.701732,0.495819);animation-timing-function:cubic-bezier(0.5,0,0.701732,0.495819);-webkit-transform:translateX(0);transform:translateX(0)}59.15%{-webkit-animation-timing-function:cubic-bezier(0.302435,0.381352,0.55,0.956352);animation-timing-function:cubic-bezier(0.302435,0.381352,0.55,0.956352);-webkit-transform:translateX(83.67142%);transform:translateX(83.67142%)}100%{-webkit-transform:translateX(200.611057%);transform:translateX(200.611057%)}}
@keyframes indeterminate{0%{-webkit-transform:translateX(0);transform:translateX(0)}20%{-webkit-animation-timing-function:cubic-bezier(0.5,0,0.701732,0.495819);animation-timing-function:cubic-bezier(0.5,0,0.701732,0.495819);-webkit-transform:translateX(0);transform:translateX(0)}59.15%{-webkit-animation-timing-function:cubic-bezier(0.302435,0.381352,0.55,0.956352);animation-timing-function:cubic-bezier(0.302435,0.381352,0.55,0.956352);-webkit-transform:translateX(83.67142%);transform:translateX(83.67142%)}100%{-webkit-transform:translateX(200.611057%);transform:translateX(200.611057%)}}
@-webkit-keyframes secondary-indeterminate{0%{-webkit-animation-timing-function:cubic-bezier(0.15,0,0.515058,0.409685);animation-timing-function:cubic-bezier(0.15,0,0.515058,0.409685);-webkit-transform:translateX(0);transform:translateX(0)}25%{-webkit-animation-timing-function:cubic-bezier(0.31033,0.284058,0.8,0.733712);animation-timing-function:cubic-bezier(0.31033,0.284058,0.8,0.733712);-webkit-transform:translateX(37.651913%);transform:translateX(37.651913%)}48.35%{-webkit-animation-timing-function:cubic-bezier(0.4,0.627035,0.6,0.902026);animation-timing-function:cubic-bezier(0.4,0.627035,0.6,0.902026);-webkit-transform:translateX(84.386165%);transform:translateX(84.386165%)}100%{-webkit-transform:translateX(160.277782%);transform:translateX(160.277782%)}}
@keyframes secondary-indeterminate{0%{-webkit-animation-timing-function:cubic-bezier(0.15,0,0.515058,0.409685);animation-timing-function:cubic-bezier(0.15,0,0.515058,0.409685);-webkit-transform:translateX(0);transform:translateX(0)}25%{-webkit-animation-timing-function:cubic-bezier(0.31033,0.284058,0.8,0.733712);animation-timing-function:cubic-bezier(0.31033,0.284058,0.8,0.733712);-webkit-transform:translateX(37.651913%);transform:translateX(37.651913%)}48.35%{-webkit-animation-timing-function:cubic-bezier(0.4,0.627035,0.6,0.902026);animation-timing-function:cubic-bezier(0.4,0.627035,0.6,0.902026);-webkit-transform:translateX(84.386165%);transform:translateX(84.386165%)}100%{-webkit-transform:translateX(160.277782%);transform:translateX(160.277782%)}}
@-webkit-keyframes indeterminate-scale{0%{-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}36.65%{-webkit-animation-timing-function:cubic-bezier(0.334731,0.12482,0.785844,1);animation-timing-function:cubic-bezier(0.334731,0.12482,0.785844,1);-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}69.15%{-webkit-animation-timing-function:cubic-bezier(0.06,0.11,0.6,1);animation-timing-function:cubic-bezier(0.06,0.11,0.6,1);-webkit-transform:scaleX(0.661479);transform:scaleX(0.661479)}100%{-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}}
@keyframes indeterminate-scale{0%{-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}36.65%{-webkit-animation-timing-function:cubic-bezier(0.334731,0.12482,0.785844,1);animation-timing-function:cubic-bezier(0.334731,0.12482,0.785844,1);-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}69.15%{-webkit-animation-timing-function:cubic-bezier(0.06,0.11,0.6,1);animation-timing-function:cubic-bezier(0.06,0.11,0.6,1);-webkit-transform:scaleX(0.661479);transform:scaleX(0.661479)}100%{-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}}
@-webkit-keyframes secondary-indeterminate-scale{0%{-webkit-animation-timing-function:cubic-bezier(0.205028,0.057051,0.57661,0.453971);animation-timing-function:cubic-bezier(0.205028,0.057051,0.57661,0.453971);-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}19.15%{-webkit-animation-timing-function:cubic-bezier(0.152313,0.196432,0.648374,1.004315);animation-timing-function:cubic-bezier(0.152313,0.196432,0.648374,1.004315);-webkit-transform:scaleX(0.457104);transform:scaleX(0.457104)}44.15%{-webkit-animation-timing-function:cubic-bezier(0.257759,-0.003163,0.211762,1.38179);animation-timing-function:cubic-bezier(0.257759,-0.003163,0.211762,1.38179);-webkit-transform:scaleX(0.72796);transform:scaleX(0.72796)}100%{-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}}
@keyframes secondary-indeterminate-scale{0%{-webkit-animation-timing-function:cubic-bezier(0.205028,0.057051,0.57661,0.453971);animation-timing-function:cubic-bezier(0.205028,0.057051,0.57661,0.453971);-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}19.15%{-webkit-animation-timing-function:cubic-bezier(0.152313,0.196432,0.648374,1.004315);animation-timing-function:cubic-bezier(0.152313,0.196432,0.648374,1.004315);-webkit-transform:scaleX(0.457104);transform:scaleX(0.457104)}44.15%{-webkit-animation-timing-function:cubic-bezier(0.257759,-0.003163,0.211762,1.38179);animation-timing-function:cubic-bezier(0.257759,-0.003163,0.211762,1.38179);-webkit-transform:scaleX(0.72796);transform:scaleX(0.72796)}100%{-webkit-transform:scaleX(0.08);transform:scaleX(0.08)}}
.progress{align-content:center;content:'';display:grid;height:2px;left:0;overflow:hidden;opacity:0;pointer-events:none;position:fixed;right:0;top:0;z-index:21}
.progress[loading]{opacity:1}
.progress__primary_bar,.progress__secondary_bar{content:'';display:block;height:100%;position:absolute;transition:none;width:100%}
.progress__primary_bar_inner,.progress__secondary_bar_inner{background:var(--c);display:inline-block;height:100%;position:absolute;width:100%}
.progress[loading] .progress__primary_bar{left:-145.166611%;-webkit-animation:indeterminate 2s infinite linear;animation:indeterminate 2s infinite linear}
.progress[loading] .progress__secondary_bar{left:-54.888891%;-webkit-animation:secondary-indeterminate 2s infinite linear;animation:secondary-indeterminate 2s infinite linear}
.progress[loading] .progress__primary_bar_inner{-webkit-animation:indeterminate-scale 2s infinite linear;animation:indeterminate-scale 2s infinite linear}
.progress[loading] .progress__secondary_bar_inner{-webkit-animation:secondary-indeterminate-scale 2s infinite linear;animation:secondary-indeterminate-scale 2s infinite linear}
.progress{-webkit-transition:opacity .25s cubic-bezier(.4,0,.6,1) 0ms,top.3s cubic-bezier(.4,0,.6,1);transition:opacity .25s cubic-bezier(.4,0,.6,1) 0ms,top.3s cubic-bezier(.4,0,.6,1)}
body[header] .progress{-webkit-transition:opacity .25s cubic-bezier(.4,0,.6,1) 0ms,top.3s cubic-bezier(.4,0,.2,1) .3s;transition:opacity .25s cubic-bezier(.4,0,.6,1) 0ms,top.3s cubic-bezier(.4,0,.2,1) .3s}
/* Custom Style */
.mt{margin-top:-16px}
.mb{margin-bottom:-16px}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
/* Other */
.noselect,.header,.error,.subscribe,::-webkit-input-placeholder{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none}